.toast-info {
  background-color: white !important;
  color: black !important;
  opacity: 0.9 !important;
}

#dnapopup {
  visibility:hidden;
  position:absolute;
  height:40%;
/*   right: calc((100% - 720px) / 2);
  left: calc((100% - 720px) / 2); */
  left: 12000px;
  right: 12500px;
  top:55%;
  z-index:1000;
  background-color: grey;
  border: 2px solid;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.35);
}   


#dnaborder {
  position:absolute;
  border: 0;
  height:100%;
  width:100%;
}

#dnaiframe {
  border:0;
  position:absolute;
  height:100%;
  width:100%;
}

#rmSearch {
  position: absolute;
  display: none;
  z-index: 1000;
  position: fixed;
  top: 60px;
  right: -10%;
  transform: translate(-50%, -50%);
}

.th-item {
}

.th-source {
  font-weight: normal;
  font-size: xx-small;
  float: right;
  color: lightgrey;
}

.th-term {
  font-weight: bold;
}

.th-def {
  font-size: medium;
  max-height: 145px;
  overflow: hidden;
  line-height: 100%;
}

.tt-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */

.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 3px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}
#rtl-support .tt-menu {
  text-align: right;
}

#jumptoDateInput {
  left:       10px;
  top:        10px;
  position:   relative; 
  border:     0px solid;
}

.jsPanel-headerbar {
  height:           32px;
  background-color: #565c70;
  color:            white !important;
}

.jsPanel-btn > span::before  {
  color: white !important;
}

.flatpickr-day.today {
  background-color: #5c7080 !important;
  color: white !important;
  border-color: #5c7080 !important;
}